<div class="container">
<h1 class="mt-5 ">your question:  <%= @question %></h1>
<p class="mt-5">coach answer: <%= @answer %> </p>
<%= link_to "do you have more questions?", "/ask", class: "btn btn-primary" %>
</div>
